{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rmd Blood Group</title>
    <style>
        body{
        background-image: url("{% static "images/Background1.jpg" %}");
        }
    </style>
    <script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
<img src="{% static "images/Untitled.jpg" %}" style="float: right;border-radius: 50%" width="90">
<img src="{% static "images/download (4).jpg" %}" style="float: left;border-radius: 50%;" width="90">
<h1 align="center" style="color: navy;" >Rmd Group </h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center" style="color: navy">This organization is Start Now 2016  </h1>
<table align="center"  border="6" width="1000" >
    <tr>
        <td>
<h3 style="color: olive">Name: U.Ramudu</h3>
<h3 style="color: green">Father Name: U.Balamaddilety</h3>
<h3 style="color: #0b7dda">Mother Name: U.Narayanamma</h3>
<h3 style="color: red">Village: Thudumuladdinne</h3>
<h3 style="color: navy">Mandal:Uyyalawada</h3>
<h3 style="color: green">District : Kurnool</h3>
<h3 style="color: #BA0100">Whats App Number :9704538257 </h3>
<h3 style="color: #820000">Aim : All Member Are Joined In This Group  Sereved The People And Blood Group Doneted</h3>
</td>
    </tr>
</table>
</body>
</html>