
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h1 style="color: red">{{ name }}</h1>
<h1 style="color: green">Your Age:{{ age }}</h1>
<h1 style="color: fuchsia">Your Blood Group:{{ Blood }}</h1>
       <h1 style="color: #820000" id="css3dtransparency" class="active">Rmd Group</h1>
<h1 style="color: darkgoldenrod">Welcome</h1>
<h1 style="color: dimgray" >Rmd Blood Registration Successful </h1>
<h1 style="color: #FF9966">Thank You Join  Rmd Blood Group</h1>
<h1 style="color: olive"> {{ message }}</h1>
<script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<title>Rmd Blood Group</title>
<h1 style="background-color: #080808;">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="{% static "css/Gallery1.css" %}">
<div class="container">
        <div id="carousel">
			<figure><img src="{% static "images/Rmdia.jpeg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdic.jpeg" %}" style="width: 200px"></figure>
			<figure><img src="{% static "images/IMG_20200529_182943773.jpg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdib.jpg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdie.jpeg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdid.jpeg" %}" style="width: 200px;height: 360px"></figure>
            <figure><img src="{% static "images/Rmdia.jpeg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdic.jpeg" %}" style="width: 200px"></figure>
			<figure><img src="{% static "images/IMG_20200529_182943773.jpg" %}" style="width: 200px;height: 360px"></figure>

		</div>
	</div>
    </h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center"><button style="color: red;background-color: navy; border-radius: 50%" type="submit" onclick="history.back()">Go Back</button></h1>