{% load static %}
<html>
<head>
    <style>
        img{
        border-radius: 50%;
        }
        body{
        background-image: url("{% static "images/Background1.jpg" %}");
        }
        button{
        border-radius: 70%;

        }
    </style>
    <script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<img src="{% static "images/Untitled.jpg" %}" width="90" style="float: left">
<img src="{% static "images/download (4).jpg" %}" width="90" style="float: right">
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="color: navy" align="center">{{ message }}</h1>

    <button type="submit" onclick="history.back()" style="color: white;background-color: navy">Plese Go Back</button>
