<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Responsive Sticky Navbar</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
       <link rel="stylesheet" type="text/css" href="{% static "css/Home.css" %}">
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
       <link rel="stylesheet" type="text/js" href="{% static "js/Home.js" %}">
       <script src="{% static "js/Home.js" %}"></script><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
       <style>
           img {
               border-radius: 50%;
           }
       </style>

   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">

               </div>
               <div class="menu">
                  <ul>
                     <li><a href="/home/">Home</a></li>
                     <li><a href="#">About</a></li>
                     <li><a href="/index/"> Register</a></li>
                     <li><a href="/search1/"> Search</a></li>
                     <li><a href="/bar/">BarChart</a></li>
                     <li><a href="#">QrCode Download</a></li>
                  </ul>
               </div>
            </nav>
         </header>
         <div class="content">
            <h1>
                What is Blood?</h1>
<p>
Blood is essential to life. Blood circulates through our body and delivers essential substances like oxygen and nutrients to the body’s cells. It also transports metabolic waste products away from those same cells. There is no substitute for blood. It cannot be made or manufactured. Generous blood donors are the only source of blood for patients in need of a blood transfusion.

Blood Components
There are four basic components that comprise human blood: plasma, red blood cells, white blood cells and platelets.
            </p>
           <h1>
               Blood Components
               </h1>
              <p>
There are four basic components that comprise human blood: plasma, red blood cells, white blood cells and platelets.

<img src="{% static "images/blood-components.jpg" %}" width="900">
            </p>
             <h1>Red Blood Cells</h1>
<p>
Red blood cells represent 40%-45% of your blood volume. They are generated from your bone marrow at a rate of four to five billion per hour. They have a lifecycle of about 120 days in the body.
</p>
<h1>Platelets</h1>
<p>
Platelets are an amazing part of your blood. Platelets are the smallest of our blood cells and literally look like small plates in their non-active form. Platelets control bleeding. Wherever a wound occurs, the blood vessel will send out a signal. Platelets receive that signal and travel to the area and transform into their “active” formation, growing long tentacles to make contact with the vessel and form clusters to plug the wound until it heals.
</p>
<h1>Plasma</h1>
<p>
Plasma is the liquid portion of your blood. Plasma is yellowish in color and is made up mostly of water, but it also contains proteins, sugars, hormones and salts. It transports water and nutrients to your body’s tissues.
</p>
<h1>White Blood Cells</h1>
<p>
Although white blood cells (leukocytes) only account for about 1% of your blood, they are very important. White blood cells are essential for good health and protection against illness and disease. Like red blood cells, they are constantly being generated from your bone marrow. They flow through the bloodstream and attack foreign bodies, like viruses and bacteria. They can even leave the bloodstream to extend the fight into tissue.
</p>

</h1>
             <h1 align="center" style="color: #BA0100"><hr>How You Can Help</h1>
             <hr style="width: 460px;color: green;">
             <br>
             <br>
             <br>
             <p style="float: left;padding-left: 20px">
                 <img src="{% static "images/article-1.jpg" %}" width="260">
                 <br>
                 <br>
                 <br>
                 Blood Donor Basics
                 Your health is important to us, and we want to help you maintain it.

             </p>
             <p style="float: left;padding-left: 20px">
                 <img src="{% static "images/article-2.jpg" %}" width="260">
                 <br>
                 <br>
                 <br>
                 Hosting A Blood Drive
                 Your help as our community partner is essential to the blood supply.
             </p>
             <p style="float: left;padding-left: 20px">
                 <img src="{% static "images/article-3.jpg" %}" width="260">
                 <br>
                 <br>
                 <br>
                 Hosting A Blood Drive
                 Your help as our community partner is essential to the blood supply.
             </p>
             <p style="float: left;padding-left: 20px">
                 <img src="{% static "images/article-4.jpg" %}" width="260">
                 <br>
                 <br>
                 <br>
                 Share Your Story
                 Help your community understand the impact blood donation has.
             </p>
         </div>
      </div>
      <br>
      <br>
      <br>
      <br>


   </body>
</html>