<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
 <img src="{% static "images/Untitled.jpg" %}" style="border-radius: 50%;float: right" width="90">
<img src="{% static "images/download (4).jpg" %}" style="border-radius: 50%;float: left" width="90">
<link rel="stylesheet" type="text/css" href="{% static "css/Gallery.css" %}">
<link rel="stylesheet" type="text/js" href="{% static "js/Gallery.js" %}">
<script src="{% static "js/Gallery.js" %}"></script><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--www.ebubekirbastama.com-->
<br>
<br>
<br>
<br>
<br>
<br>
        <div id="css3dimageslider" class="transparency">
            <ul>
                <li> <img style="width: 100%;height: 100%" src="https://404store.com/2018/08/20/linux.png"> </li>
                <li> <img style="width: 100%;height: 100%" src="https://404store.com/2018/08/12/solidworks-3d-cad-web-image.png"> </li>
                <li> <img style="width: 100%;height: 100%" src="https://404store.com/2018/08/15/img_1508.png"> </li>
                <li> <img style="width: 100%;height: 100%" src="https://404store.com/2018/04/12/ataturk_bayrak_02_tam35-blogspot-com.gif"> </li>
            </ul>
        </div>
        <ul id="css3dimagePager">
	<li class="list-group-item list-group-item-success">Güvenli İşletim Sistemi</li>
	<li class="list-group-item list-group-item-danger">Solid Works</li>
	<li class="list-group-item list-group-item-warning">Akıllı Ev sistemi</li>
	<li class="list-group-item list-group-item-primary">Türkiye</li>
</ul>
       <p id="css3dtransparency" class="active">Rmd Blood Group </p>

<title>Rmd Blood Group</title>
<script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<h1 style="background-color: #080808;">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="{% static "css/Gallery1.css" %}">

<div class="container">
        <div id="carousel">
			<figure><img src="{% static "images/Rmdia.jpeg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdic.jpeg" %}" style="width: 200px"></figure>
			<figure><img src="{% static "images/IMG_20200529_182943773.jpg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdib.jpg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdie.jpeg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdid.jpeg" %}" style="width: 200px;height: 360px"></figure>
            <figure><img src="{% static "images/Rmdia.jpeg" %}" style="width: 200px;height: 360px"></figure>
			<figure><img src="{% static "images/Rmdic.jpeg" %}" style="width: 200px"></figure>
			<figure><img src="{% static "images/IMG_20200529_182943773.jpg" %}" style="width: 200px;height: 360px"></figure>

		</div>
	</div>
    </h1>
<button  style="color: red;background-color: navy;" type="submit" onclick="history.back()">Go Back</button>
