{% load static %}
<title>Rmd Blood Group</title>
<h1 style="background-color: #080808;">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="{% static "css/Gallery1.css" %}">
    <script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<img src="{% static "images/Untitled.jpg" %}" style="border-radius: 50%;float: left"width="90">
<img src="{% static "images/download (4).jpg" %}" style="border-radius: 50%;float: right"width="90">
    <div class="container">
        <div id="carousel">
			<figure><img src="http://lorempixel.com/186/116/people/1" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/people/2" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/people/3" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/people/4" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/people/5" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/7" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
		</div>
	</div>
    </h1>