<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
<!Doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>Registration Form</title>
     	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/Rmd.css" %}">
<script data-ad-client="ca-pub-9056165283422658" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
 <div class="container">
 <!---heading---->
     <header class="heading">Blood Group- Registration-Form</header><hr>
	<!---Form starting---->
	<div class="row ">
	 <!--- For Name---->
         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname">First Name :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control ">
             </div>
		      </div>
		 </div>

         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="lastname">Last Name :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="lname" id="lname" placeholder="Enter your Last Name" class="form-control ">
             </div>
		      </div>
		 </div>

        <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname">District :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="dic" id="fname" placeholder="Enter your District Name" class="form-control ">
             </div>
		      </div>
		 </div>
         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname"> Mandal :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="man" id="fname" placeholder="Enter your Mandal Name" class="form-control ">
             </div>
		      </div>
		 </div>
         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname">village  :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="vill" id="fname" placeholder="Enter your Village Name" class="form-control ">
             </div>
		      </div>
		 </div>



	 <!-----For Password and confirm password---->
          <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="pass">phone :</label></div>
				  <div class="col-xs-8">
			             <input type="number" name="phone" id="password" placeholder="Enter your phone" class="form-control">
				 </div>
          </div>
		  </div>

     <!-----------For Phone number-------->
         <div class="col-sm-12">
		     <div class ="row">
                 <div class="col-xs-4 ">
			       <label class="gender">Gender:</label>
				 </div>

			     <div class="col-xs-4 male">
				     <input type="radio" name="gender"  id="gender" value="boy">Male</input>
				 </div>

				 <div class="col-xs-4 female">
				     <input type="radio"  name="gender" id="gender" value="girl" >Female</input>
			     </div>

		  	 </div>




		     <div class="col-sm-12">
		         <div class="btn btn-warning">Submit</div>
		   </div>
		 </div>
	 </div>


</div>

</body>
</html>

